*.o
*.swp
*.kate-swp
*.log
*.cfg
*.exe
*.res
*.session
.svn
.directory
.unison*
.depend*
.include*
Thumbs.db
cccaster*
trials*
tmp*
build*
gmon.out
profile*.txt
rollback.*
GRP
palettes*
*.clip
TAGS
*.bmp
*.png
scripts/seqlists*
debugging
plugins/replay-takeover/replay_takeover.dll
plugins/hud-theme/hud_theme.dll
plugins/replay-takeover/replay_takeover.dll
*.dll
