*.o
*.swp
*.kate-swp
*.log
*.cfg
*.exe
*.res
*.session
.svn
.directory
.unison*
.depend*
.include*
Thumbs.db
cccaster*
trials*
tmp*
build*
gmon.out
profile*.txt
rollback.*
GRP
palettes*
*.clip
TAGS
*.bmp
*.png
scripts/seqlists*
debugging
CasterStatsFork/
meepster/
/trainingtool
setup_dev_env.sh
/.claude
